* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100dvh;
    display: grid;
    place-items: center;
}

form {
    border: 1px solid black;
    width: 50%;
    height: 60%;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    justify-items: center;
    padding: 20px;
    gap: 20px;

    input {
        padding: 0 20px;
        font-size: 1.25rem;
    }

    button {
        cursor: pointer;
        width: 40%;
        border: none;
        background-color: royalblue;
        border-radius: 5px;
        color: white;
    }

    button:hover {
        background-color: rgb(43, 69, 148);
    }
}